# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
node_modules/
dist/
build/
.next/

# Next.js
out/
.vercel
*.tsbuildinfo
next-env.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Foundry
cache/
out-foundry/
broadcast/
.solhint.json
*.json
!foundry.toml
!package.json
!tsconfig.json
